html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

@media only screen and (max-width : 600px) {
  .header-image {
    display: none;
  }
}

@media only screen 
  and (max-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .header-image {
      display: none;
    }
}

@media only screen and (max-width : 812px) {
  .header-image {
    display: none;
  }
}

@media only screen 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .header-text {
      font-size: 50px;
    }
}