html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

@media only screen and (max-width : 600px) {
  .header-image {
    display: none;
  }
}

@media only screen and (max-width : 992px) {
  .header-text {
    font-size: 43px;
  }
}