#saved-return-section {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.btn-saved-card {
    margin-right: 20px;
}

@media only screen and (max-width : 600px) {
    .btn-saved-card {
        margin-top: 10px;
    }
}